apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb
  namespace: {{ .Values.namespace }}
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS {{ .Values.mysql.secrets.database }};
    CREATE USER IF NOT EXISTS '{{ .Values.mysql.secrets.user }}'@'%' IDENTIFIED BY '{{ .Values.mysql.secrets.password }}';
    GRANT ALL PRIVILEGES ON {{ .Values.mysql.secrets.database }}.* TO '{{ .Values.mysql.secrets.user }}'@'%';
    FLUSH PRIVILEGES;
    USE {{ .Values.mysql.secrets.database }};
    CREATE TABLE IF NOT EXISTS employees (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        role VARCHAR(100) NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
