apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb
  namespace: emp-app
data:
  init.sql: |
    CREATE TABLE employees (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50),
        email VARCHAR(50),
        department VARCHAR(50)
    );
