apiVersion: apps/v1           # Kubernetes API version for Deployment.
kind: Deployment              # Defines this resource as a Deployment (manages Pods & scaling).
metadata:
  name: mysql                 # Name of the Deployment.
  namespace: emp-app          # Namespace where the Deployment will be created.
spec:
  replicas: 1                 # Number of MySQL Pods to run. Only 1 Pod here.
  selector:
    matchLabels:
      app: mysql              # Selector to match Pods managed by this Deployment.
  template:
    metadata:
      labels:
        app: mysql            # Labels applied to Pods. Must match the selector above.
    spec:
      containers:
      - name: mysql           # Container name inside the Pod.
        image: mysql:8.0      # MySQL 8.0 Docker image.
        env:                  # Environment variables for the MySQL container
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret      # Secret containing the root password
              key: MYSQL_ROOT_PASSWORD
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: mysql-secret      # Secret containing the database name
              key: MYSQL_DATABASE
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret      # Secret containing the MySQL username
              key: MYSQL_USER
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret      # Secret containing the MySQL password
              key: MYSQL_PASSWORD
        ports:
        - containerPort: 3306         # Expose MySQL default port inside the Pod.
        volumeMounts:
        - mountPath: /var/lib/mysql  # Mount for persistent MySQL data.
          name: mysql-storage
        - mountPath: /docker-entrypoint-initdb.d/init.sql  
          name: mysql-init
          subPath: init.sql          # Mount the SQL initialization file from ConfigMap.
      volumes:
      - name: mysql-storage
        persistentVolumeClaim:
          claimName: mysql-pvc       # PVC used to persist MySQL data across Pod restarts.
      - name: mysql-init
        configMap:
          name: mysql-initdb         # ConfigMap containing the init SQL script.
          items:
            - key: init.sql          # Use this specific key from the ConfigMap.
              path: init.sql         # Mount as /docker-entrypoint-initdb.d/init.sql
